.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.MainContainer {
    background-image: linear-gradient(to right, rgba(223, 158, 158, 0), #b83b3b);
    min-height: 100vh;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 1.5rem;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: auto;
    background-color: white;
    border-radius: 1rem;
}

.buttonAction {
    border-radius: .75rem;
    border: none;
    height: 1.5rem;
    background-color: white;
}

.CardClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(192, 141, 179);
    transition: width 2s;
    color: white;
    border: .25rem solid orange;
    padding: .5rem;
    margin: .12rem;
    border-radius: 1rem;
}

.CardClass:hover {
    background-color: rgb(211, 19, 163);
}

.InsertCodeContainer {
    background-image: linear-gradient(to right, rgba(223, 158, 158, 0), #b83b3b);
    height: 40rem;
}